<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav me-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						Cadastrar Livro
					</li>
				</ul>
				<a class="btn btn-primary btn-md" href="/funcionarios/listar">
					<span class="oi oi-spreadsheet"></span>
					Listar Funcionários
				</a>
			</div>
		</nav>
	
		<div class="container-fluid">
			<h1 class="h5 fw-bold mt-2">Formulário de Cadastro de Funcionários</h1>
			
			<hr>
			
			<form th:object="${funcionarioDTO}" method="POST" th:action="${funcionarioDTO.id == null} ? @{/funcionarios/salvar} : @{/funcionarios/editar}">
				<div class="row g-2 p-2 mb-3">

					<div th:replace="~{fragments/validacao :: validacao}"></div>

					<div class="form-floating">
						<input type="text" class="form-control pb-2" id="nome" th:field="*{nome}" required autofocus placeholder="Entre com o nome do funcionário">
						<label for="nome" class="pt-2 ps-4">Nome</label>
					</div>
					
					<div class="form-floating">
						<input type="number" class="form-control pb-2" id="dependentes" th:field="*{numDep}" required placeholder="Entre com o número de dependentes do funcionário">
						<label for="dependentes" class="pt-2 ps-4"># de dependentes</label>
					</div>
					
					<div class="form-floating">
						<input type="text" class="form-control pb-2" id="salario" th:field="*{salario}" required placeholder="Entre com o salario do funcionário">
						<label for="salario" class="pt-2 ps-4">Salário</label>
					</div>
					<div class="form-floating">
						<input type="text" class="form-control pb-2" id="nascimento" th:field="*{nascimento}" required placeholder="Entre com a data de nascimento do funcionário">
						<label for="nascimento" class="pt-2 ps-4">Nascimento</label>
					</div>
				</div>
				
				<input type="hidden" id="id" th:field="*{id}">
				<input type="submit" class="btn btn-primary" th:value="${funcionarioDTO.id == null} ? 'Incluir' : 'Salvar'">
				<input type="button" class="btn btn-danger" value="Cancelar" onclick="window.history.back();">
			</form>
		</div>
	</section>
</body>
</html>






